<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <p>FOODY</p>
            <div class="decrease-size">
                <ul>
                    <div><li><a href="#">HOME</a></li></div>
                    <div class="dropdown">
                        <li>
                        <a>ITEMS</a>
                        <div class="dropdown-content">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                        </div>
                        </li>
                    </div>

                    <div><li><a href="#">ADD TO CART</a></li></div>
                </ul>
            </div>
        </div>
        <div>
    