<%- include("partials/header"); -%>
<div class="div-main-img"><img src="/images/main4.jpg" class="main-part1-img"></div>
<br>
<section class="section-color">
    <div>
    <div class="under-section-div1">
        <a href="/burgers" class=" remove-text-decoration"><img src="/images/burger.jpg" class="item-image-size">
            <center><p>Burgers</p></center></a>
    </div>
    <div class="under-section-div1">
        <a href="/pizza" class=" remove-text-decoration"><img src="/images/burger.jpg" class="item-image-size">
            <center><p>Pizza</p></center></a>
    </div>
    <div class="under-section-div1">
        <a href="#" class=" remove-text-decoration"><img src="/images/burger.jpg" class="item-image-size">
            <center><p>Snacks</p></center></a>
    </div>
    <div class="under-section-div1">
        <a href="#" class=" remove-text-decoration"><img src="/images/burger.jpg" class="item-image-size">
            <center><p>Breakfast</p></center></a>
    </div>
    <div class="under-section-div1">
        <a href="#" class=" remove-text-decoration"><img src="/images/burger.jpg" class="item-image-size">
            <center><p>Lunch</p></center></a>
    </div>
    <div class="under-section-div1">
        <a href="#" class=" remove-text-decoration"><img src="/images/burger.jpg" class="item-image-size">
            <center><p>Dinner</p></center></a>
    </div>
    </div>
 
</section>