<html>
    <head>
       <link rel="stylesheet" href="/css/styles.css"> 
       <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap" rel="stylesheet">
    </head>
    <body class="get-main-color">
        
        <section class="login-form">
            <div class="getting-center"><h3>Login</h3></div>
                <form><div>
                    <label>Enter your gmail</label></div>
                    <div class="giving-line-a-margin"><input type="email" placeholder="abc@gmail.com"></div>
                    <div><label>Enter your password</label></div>
                    <div class="giving-line-a-margin"><input type="password" placeholder="Password"></div>
                    <div class="getting-center"><button type="submit" class="bttn-clr">Submit</button></div>
                </form>
                <div><a href="#"  class="signup-link">Don't have account sign up here -></a></div>
           
        </section>
    </body>
</html>